.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/src/main/kotlin/ru/lab4up/vikegart/notADemo/frontend/dist/
out/
src/main/resources/static/static/js/app.9e815cd2815cb8f25e26.js
src/main/resources/static/static/js/app.9e815cd2815cb8f25e26.js.map
src/main/resources/static/static/js/manifest.d8669c60211c064aae11.js
src/main/resources/static/static/js/manifest.d8669c60211c064aae11.js.map
src/main/resources/templates/
/src/main/frontend/dist/
